body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: black;
   color: white;
   background-image: url('../images/01.png');
   background-repeat: no-repeat;
   /* background-size: cover; */
   background-position: right;
}

h1{
   background-color: red;
   rotate: 20deg;
   color: green;
   display: inline-block;
}